DB_USER=tulubyev
DB_PASSWORD=CrossBaikal6times!
DB_NAME=safety_db
ACLED_API_KEY=your_acled_api_key_here
FCM_SERVER_KEY=your_fcm_server_key_here
REDIS_URL=redis://redis:6379
DATABASE_URL=postgres://tulubyev:CrossBaikal6times!@62.217.178.173:5432/safety_db
ML_SERVICE_URL=http://ml:8000
